div(layout="row")
    md-input-container.md-icon-float.md-block(flex="50")
        label(translate="common.search")
        md-icon search
        input(type="text", ng-model="vm.productQuery.search", ng-change="vm.changedSearch()")

    md-container
        br
        md-button.md-icon-button(ng-click="vm.addProduct($event)")
            md-icon add_circle

h4(ng-show="vm.productQuery.loaded && !vm.productQuery.products.length", translate="products.noProduct")

md-table-container(ng-hide="!vm.productQuery.loaded || !vm.productQuery.products.length")
    table(md-progress="vm.promise", md-table)
        thead(md-head)
            tr(md-row)
                th(md-column)
                    span(translate="products.table.name")
                th(md-column)
                    span(translate="products.table.ncm")
                th(md-column)
                    span(translate="products.table.taxRates")
        tbody(md-body)
            tr(md-row, ng-repeat='product in vm.productQuery.products')
                td(md-cell) {{product.name}}
                td(md-cell) {{product.NCM}}
                td(md-cell, layout="column")
                    span(ng-repeat="taxRate in product.taxRates", ng-if="taxRate.using")
                        |{{taxRate.state}}: {{taxRate.taxRate}}%
                        = ' '
                        span(ng-if="taxRate.taxSubstitution", translate="products.ts")

div(layout="row", layout-align="end center", ng-hide="vm.productQuery.loaded && !vm.productQuery.products.length")
    div
        span(translate="products.pagination", translate-values="vm.productQuery")
        md-button.md-icon-button(ng-disabled="vm.productQuery.page <= 1",
            ng-click="vm.previousPage()")
            md-icon keyboard_arrow_left
        md-button.md-icon-button(ng-disabled="vm.productQuery.page >= vm.productQuery.pages",
            ng-click="vm.nextPage()")
            md-icon keyboard_arrow_right