md-toast.md-success-toast-theme
  .md-toast-content
    background-color #4CAF50

md-toast.md-error-toast-theme
  .md-toast-content
    background-color #F44336

md-toast.md-warning-toast-theme
  .md-toast-content
    background-color #FFEB3B

md-toast.md-info-toast-theme
  .md-toast-content
    background-color #2196F3